.content {
  height: calc(100vh - 4rem); /* Set height to fill the viewport */
  overflow: hidden;
}
.main-content {
  height: 100%;
  overflow: auto;
}

.sidebar {
  height: 100%;
  overflow: auto;
}