<div class="container">
  <div class="row">
    <div class="left" role="main">
      <h1 class="text-center">Dhondiram Nivrati Jawade</h1>
      <p class="text-center fs-5 fst-italic" id="role">Front end developer</p>
      <div class="social-media text-center" aria-label="Social media links">
        <a
          href="https://www.linkedin.com/in/dhondiramjawade"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn Profile"
        >
          <i class="btn bi bi-linkedin" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/ramjawade"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub Profile"
        >
          <i class="btn bi bi-github" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.twitter.com/ramjawade"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter Profile"
        >
          <i class="btn bi bi-twitter" aria-hidden="true"></i>
        </a>
        <a
          href="#contact"
          onclick="window.location.href='mailto:ramjawade.dev[at]gmail.com'.replace('[at]','@')"
          aria-label="Email Contact"
        >
          <i class="btn bi bi-envelope-at" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="about-me mt-3">
      <h2 class="border-bottom">About Me</h2>
      <p>
        Experienced Front-End Developer with 7 years of expertise in building
        and managing web applications for large-scale enterprises. Worked on
        both monolithic and micro front-end architectures with a focus on
        mono-repo structures. Proficient in Angular, JavaScript, HTML3, CSS3 and
        passionate about exploring UI System Design and it's Architecture to
        deliver scalable, high-performance solutions that enhance user
        experiences.
      </p>
    </div>
    <div class="skills">
      <h4 class="border-bottom">Skills</h4>
      <ul>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>NX Nrwl</li>
        <li>RXJS</li>
        <li>Bootstrap</li>
        <li>Angular Material</li>
        <li>Tools- NPM, Gitlab</li>
      </ul>
    </div>
    <div class="education">
      <h4 class="border-bottom">Education</h4>
      <h6>Bachelor of Engineering (Information Technology)</h6>
      <p>
        Government Engineering College Aurangabad.
        <span class="fst-italic"> Aug 2013 – May 2017</span>
      </p>
    </div>
    <div class="experience">
      <h4 class="border-bottom">Professional Experience</h4>
      <h5>UI Specialist</h5>
      <p>
        Yash Technologies Pvt. Ltd.
        <span class="fst-italic">Mar 2021 – Present</span>
      </p>
      <ul>
        <li>
          Developed front-end solutions for various clients in large-scale
          enterprise applications.
        </li>
        <li>
          Collaborated with stakeholders, UX designers and back-end teams to
          ensure feature scalability and performance.
        </li>
        <li>
          Improved architecture, code quality, and product performance through
          optimizations.
        </li>
        <li>Conducted code reviews to ensure adherence to best practices.</li>
        <li>
          Worked with teams to deliver features aligned with Agile principles
          and sprint objectives.
        </li>
      </ul>
      <p></p>
      <span class="h5">Technical Lead</span>
      <p>
        Innoeye Technologies.
        <span class="fst-italic">April 2019 – Mar 2021</span>
      </p>

      <ul>
        <li>
          Explored and implemented UI monolithic and micro front-end
          architectures with a mono-repo structure to enhance scalability and
          streamline development processes.
        </li>
        <li>
          Led a 5-member team to build a scalable and maintainable application
          architecture using Angular.
        </li>
        <li>
          Developed reusable components and libraries, supporting 15 teams and
          ensuring project consistency.
        </li>
      </ul>
      <span class="h5">Software Developer</span>
      <p>
        Innoeye Technologies.
        <span class="fst-italic">Aug 2017 – Mar 2019</span>
      </p>
      <li>
        Gained hands-on experience with AngularJS and JavaScript in building
        dynamic web applications.
      </li>
      <li>
        Worked on canvas layers for big data visualization using Leaflet,
        Create.js, and D3.
      </li>
    </div>
    <div class="achievements mb-3">
      <h4 class="border-bottom">Achievements</h4>
      <span class="h6">Shining Star,</span
      ><span class="fst-italic"> Yash Technologies</span>
      <p>
        Excellence contributions and commitments in client project.
        <span class="fst-italic">- May 2023</span>
      </p>
      <span class="h6">Most Valuable Player,</span
      ><span class="fst-italic"> BNY Mellon</span>
      <p>
        Most valuable player of the Month.
        <span class="fst-italic">- Nov 2023</span>
      </p>
    </div>
  </div>
</div>
