<div class="mt-5 text-center h4">Welcome to my digital portfolio!</div>
<div class="m-5 px-5 text-center">
  <hr />
  <div class="fs-5 text-secondary">
    Explore my development projects, technical insights, and personal journey.
    Discover a collection of web development demos showcasing my skills, and
    dive into my blog for informative articles and tutorials.
  </div>
  <hr />
  Learn more about me and connect on social media.
  <div class="social-media text-center">
    <a href="https://www.linkedin.com/in/dhondiramjawade"
      ><i class="btn bi bi-linkedin"></i
    ></a>
    <a href="https://github.com/ramjawade"><i class="btn bi bi-github"></i></a>
  </div>
</div>
