.sidebar {
    width: 200px; /* Adjust sidebar width as needed */
    background-color: #f0f0f0;
    height: 100%;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
        &:hover {
            background-color: #f8f8f8;
        }
      }
      .active a {
        background-color: #e0e0e0;
        font-weight: bold;
      }
  }